@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(5rem);
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-weight: 400;
	line-height: 1.7;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #202020;
}

nav {
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 8rem;
    -webkit-box-shadow: 0px 0px 32px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -19px rgba(0,0,0,0.75);
}

.heading_title {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .8rem;
}

.row {
    margin: 0 auto;
    width: 70%;
}

.form_div {
    margin: 0 auto;
}

form {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.task_input,
.task_input:focus {
    width: 30rem;
    height: 2.5rem;
    border: 0;
    border-bottom: .1rem solid #202020;
    margin-right: 1.5rem;
    padding: .5rem;
    outline: none;
}

.addTask_btn {
    background-color: transparent;
    border: #202020 .1rem solid;
    border-radius: .5rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding: .4rem 1rem;
    text-transform: uppercase;
    transition: all .2s;
}

.addTask_btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #222222;
}

.task_done,
.task_undone {
    background-color: rgb(247, 247, 247);
    border-radius: 1rem;
    padding: 1rem 1rem;
    transition: all .4s;
}

.task_done:hover,
.task_undone:hover {
    box-shadow: 0px 10px 50px -40px rgba(0,0,0,0.75);
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

table {
    margin-top: 2rem;
}

.first_head {
    width: 99%;
}

.task {
    font-size: 1.5rem;
    padding: 1rem 1rem;
}

.done,
.delete,
.undo {
    text-align: center;
}

.delete a,
.done a,
.undo a {
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.delete a {
    color: #f00;
}

.done a {
    color: rgb(0, 68, 255);
}

.undo a {
    color: rgb(0, 155, 8);
}